/*
Verity API

This application demonstrates the usage of Verity API. 

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SwitchpointsAPIService SwitchpointsAPI service
type SwitchpointsAPIService service

type ApiSwitchpointsCurrentconfigGetRequest struct {
	ctx context.Context
	ApiService *SwitchpointsAPIService
	switchpointName *string
}

func (r ApiSwitchpointsCurrentconfigGetRequest) SwitchpointName(switchpointName string) ApiSwitchpointsCurrentconfigGetRequest {
	r.switchpointName = &switchpointName
	return r
}

func (r ApiSwitchpointsCurrentconfigGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.SwitchpointsCurrentconfigGetExecute(r)
}

/*
SwitchpointsCurrentconfigGet Get all Switchpoint current configs

Retrieves all Switchpoint current configs from the system.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSwitchpointsCurrentconfigGetRequest
*/
func (a *SwitchpointsAPIService) SwitchpointsCurrentconfigGet(ctx context.Context) ApiSwitchpointsCurrentconfigGetRequest {
	return ApiSwitchpointsCurrentconfigGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SwitchpointsAPIService) SwitchpointsCurrentconfigGetExecute(r ApiSwitchpointsCurrentconfigGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SwitchpointsAPIService.SwitchpointsCurrentconfigGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/switchpoints/currentconfig"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.switchpointName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "switchpoint_name", r.switchpointName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
